


<section class="py-[50px]">
    <div class="section relative mx-auto max-w-[1360px] py-[40px] flex flex-col justify-center font_helvetica_nue">
        <div class="flex flex-col gap-[24px] max-w-[650px] mx-auto justify-between items-center">
            <div class="flex flex-col gap-[16px] items-center">
                <h2 class="text-[#F4F9F9] text-[40px] font-medium">{{section?.title}}</h2>
                <p class="text-[#DAEDEB] text-[16px] font-medium text-center">{{section?.description}}</p>
            </div>
            <a href="/services/nigeria-passport" class=" white_button">{{section?.buttonText}}</a>
        </div>
    </div>
</section>