

<section class="hero bg-[url('/images/bg-hero.png')] bg-cover bg-center h-screen px-[40px] font_helvetica_nue">
    <div class="max-w-[1360px] mx-auto flex items-center h-full">
        <div class="max-w-[760px] h-[360px] text-white flex flex-col justify-center gap-[20px]">
            <div class="flex flex-col gap-[15px]">

                <h1 class="font-medium text-[64px] leading-[80px]">{{section?.title}}</h1>

                <p class="text-[20px] font-normal">{{section?.description}}</p>

            </div>
            <div class="flex gap-[20px]">
                <!-- <button type="button" class="primary_button">Get Started</button> -->
                <a href="/services/nigeria-passport" type="button" class="transparent_button">{{section?.buttonText}}</a>
            </div>
        </div>
    </div>
</section>