<div class="management-comp">

    <section
        class="hero mt-[70px] bg-cover bg-no-repeat h-[340px] font_helvetica_nue"
        [ngStyle]="{ 'background-image': 'url(' + section[3].backgroundImagePath + ')' }"
        >
        <div class="max-w-[1360px] mx-auto flex items-center px-4 py-10 min-h-[300px] md:min-h-[340px]" >
            <div class="max-w-[1100px] h-[360px] text-white flex flex-col justify-center gap-[20px]">
                <div class="flex flex-col gap-[15px]">
                    <h1 class="font-medium text-[32px] leading-[42px] sm:text-[40px] sm:leading-[50px] md:text-[48px] md:leading-[60px] lg:text-[64px] lg:leading-[80px]">Management</h1>
                </div>
            </div>
        </div>

    </section>

    <app-hero *ngIf="section.length > 0" [section]="section[0]"></app-hero>

    <app-who-we-are *ngIf="section.length > 1" [sections]="[section[1], section[2]]"></app-who-we-are>

    <!-- <app-team></app-team> -->
    <app-team *ngIf="teamDataLoaded" [teamMembers]="teamMembers"></app-team>

</div>
