.custom_swiper_slide {
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
}



.swiper-button-prev {
    left: 45% !important;
}

.swiper-button-next {
    right: 45% !important;
}



.custom_swiper_slide {
    padding: 20px;
    background-color: #FFF;
    border-radius: 8px;
    border: 1px solid #FFE6EB;
}

