<!-- <div class="home_comp"> -->

    <!-- <app-hero *ngIf="sections.length > 0" [section]="sections[0]"></app-hero> -->
    <!-- <section *ngIf="sections.length > 0"
        class="hero bg-[url('/images/bg-hero.png')] bg-cover bg-center h-screen px-[40px] font_helvetica_nue">
        <div class="max-w-[1360px] mx-auto flex items-center h-full">
            <div class="max-w-[760px] h-[360px] text-white flex flex-col justify-center gap-[20px]">
                <div class="flex flex-col gap-[15px]">
                    <h1 class="font-medium text-[64px] leading-[80px]">{{ sections[0]?.title }} </h1>
                    <p class="text-[20px] font-normal">{{ sections[0]?.description }}</p>
                </div>
                <div class="flex gap-[20px]">
                    <a href="/services/nigeria-passport" type="button" class="transparent_button">
                        {{ sections[0]?.buttonText }}
                    </a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <app-services *ngIf="sections.length > 1" [section]="sections[1]"></app-services> -->
    <!-- <section *ngIf="sections.length > 1">
        <div class="bg_sec2 mx-auto max-w-[1360px] h-[600px] flex flex-col justify-center font_helvetica_nue">
            <div class="flex py-[50px]">
                <div class="w-[50%]">
                    <h2 class="section_heading">{{sections[1]?.title}}</h2>
                </div>
                <div class="grid grid-cols-2 gap-[20px] w-[50%]" *ngIf="sections[1]?.analytics?.length">
                    <div *ngFor="let item of sections[1].analytics" class="flex flex-col gradient_border">
                        <h3 class="text_grey2 text-[40px] font-medium">{{ item.number }}</h3>
                        <p class="text_grey6 font-bold text-[16px]">{{ item.title }}</p>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-6 py-[50px] w-full gap-y-[30px]" *ngIf="sections[1]?.services">
                <div *ngFor="let service of sections[1]?.services" class="card py-[10px] flex flex-col items-center">
                    <img class="w-[40px] h-[40px]" src="/icons/support_agent.png" alt="Business Services">
                    <p class="text_grey7 text-[16px] font-normal">{{ service.title }}</p>
                </div>
            </div>
        </div>
    </section> -->

    <!-- <app-best-service *ngIf="sections.length > 2" [section]="sections[2]"></app-best-service> -->
    <!-- <section *ngIf="sections.length > 2">
        <div class="mx-auto max-w-[1360px] h-[550px] flex flex-col justify-center font_helvetica_nue">
            <div class="flex flex-col py-[50px] justify-evenly h-full">
                <div class="w-full flex flex-col items-center">
                    <h2 class="section_heading">{{sections[2]?.title}}</h2>
                    <p class="text_grey6 text-[16px] font-medium">{{sections[2]?.description}}</p>
                </div>
                <div class="grid grid-cols-4 gap-[20px] w-full" *ngIf="sections[2]?.detailedServices?.length">
                    <div *ngFor="let service of sections[2].detailedServices" class="flex flex-col gap-[15px]">
                        <div class="rounded-[50%] w-[50px] h-[50px] bg-[#FFC0CC] flex items-center justify-center">
                            <div class="bg-[#FFA9B9] w-[70%] h-[70%] rounded-[50%] flex items-center justify-center">
                                <fa-icon [icon]="faCircleCheck" class="text-[#391017] text-[24px]"></fa-icon>
                            </div>
                        </div>
                        <div>
                            <h3 class="text_grey6 text-[20px] font-medium">{{ service.title }}</h3>
                            <p class="text_grey7 font-normal text-[16px]">{{ service.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- <app-reach-service *ngIf="sections.length > 3" [section]="sections[3]"></app-reach-service> -->


    <!-- <section>
        <div class="mx-auto max-w-[1360px] h-[650px] pb-[100px] flex flex-col justify-center font_helvetica_nue">
            <div class="flex flex-col py-[50px] justify-evenly h-full">
                <div class="w-full flex flex-col items-center">
                    <h2 class="section_heading">{{sections[3]?.name}}</h2>
                    <p class="text_grey6 text-[16px] font-medium">{{sections[3]?.description}}</p>
                </div>
            </div>

            <swiper-container class="swiper-container2" init="false">
                <swiper-slide class="custom_swiper_slide" *ngFor="let category of serviceCategories">
                    <div class="card h-[300px] flex flex-col justify-between">
                        <div class="flex flex-col gap-[18px]">
                            <div class="max-w-[170px]">
                                <img [src]="category.image" [alt]="category.name">
                            </div>
                            <div class="flex flex-col gap-[12px]">
                                <h3 class="text-[16px] text-[#1B1B1B] font-medium">{{ category.name }}</h3>
                            </div>
                            <p class="text-[12px] font-medium text-[#6D6D6D]">{{ category.description }}</p>
                        </div>
                        <div>
                            <button (click)="navigateToDetails(category.id)"
                                class="text-[12px] font-normal text-[#951C33]">Read More
                                <span>-></span></button>
                        </div>
                    </div>
                </swiper-slide>
            </swiper-container>

            <div class="relative">
                <button class="custom-prev swiper-button-prev"></button>
                <button class="custom-next swiper-button-next"></button>
            </div>
        </div>
    </section> -->

    <!-- <app-professional-catalogue *ngIf="sections.length > 4" [section]="sections[4]"></app-professional-catalogue> -->
    <!-- <section *ngIf="sections.length > 4">
        <div class="bg_sec2 mx-auto max-w-[1360px] h-[600px] flex flex-col justify-center font_helvetica_nue">
            <div class="flex justify-between py-[50px]">
                <div class="max-w-[550px] h-full flex flex-col justify-center gap-[24px]">
                    <div class="flex flex-col gap-[24px]">
                        <h2 class="section_heading">{{sections[4]?.title}}</h2>
                        <p>{{sections[4]?.description}}</p>
                    </div>
                    <div class="flex gap-[10px]">
                        <a href="/contact" class="transparent_button2">{{sections[4]?.buttonText}}</a>
                    </div>
                </div>
                <div class="w-[50%] grid grid-cols-2 gap-[24px]">
                    <div class="flex flex-col gap-[24px]">
    
                        <div class="rounded-[8px] border border-[#FFEFF3] bg-[#F6F6F6] shadow-md flex flex-col gap-[10px] items-center p-[15px]">
                            <div class="border border-[#FFB9C6] rounded-[44px] flex justify-center w-fit py-[3px] px-[8px]">
                                <h3 class="text-[#1B1B1B] text-[22px] font-bold">01</h3>
                            </div>
                            <div class="flex flex-col items-center gap-[5px]">
                                <div>
                                    <h4 class="text-[#1B1B1B] text-[18px] font-bold">{{sections[4]?.steps[0]?.title}}</h4>
                                </div>
                                <div>
                                    <p class="text-center text-[16px] text-[#5D5D5D] font-normal">{{sections[4]?.steps[0]?.description}}</p>
                                </div>
                            </div>
                        </div>
    
                        <div class="rounded-[8px] border border-[#FFEFF3] bg-[#F6F6F6] shadow-md flex flex-col gap-[10px] items-center p-[15px]">
                            <div class="border border-[#FFB9C6] rounded-[44px] flex justify-center w-fit py-[3px] px-[8px]">
                                <h3 class="text-[#1B1B1B] text-[22px] font-bold">03</h3>
                            </div>
                            <div class="flex flex-col items-center gap-[5px]">
                                <div>
                                    <h4 class="text-[#1B1B1B] text-[18px] font-bold">{{sections[4]?.steps[2]?.title}}</h4>
                                </div>
                                <div>
                                    <p class="text-center text-[16px] text-[#5D5D5D] font-normal">{{sections[4]?.steps[2]?.description}}</p>
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <div class="flex flex-col justify-center gap-[16px]">
                        <img class="w-[70px]" src="images/arrow.png" alt="">
                        <div class="rounded-[8px] border border-[#FFEFF3] bg-[#F6F6F6] shadow-md flex flex-col gap-[10px] items-center p-[15px]">
                            <div class="border border-[#FFB9C6] rounded-[44px] flex justify-center w-fit py-[3px] px-[8px]">
                                <h3 class="text-[#1B1B1B] text-[22px] font-bold">02</h3>
                            </div>
                            <div class="flex flex-col items-center gap-[5px]">
                                <div>
                                    <h4 class="text-[#1B1B1B] text-[18px] font-bold">{{sections[4]?.steps[1]?.title}}</h4>
                                </div>
                                <div>
                                    <p class="text-center text-[16px] text-[#5D5D5D] font-normal">{{sections[4]?.steps[1]?.description}}</p>
                                </div>
                            </div>
                        </div>
                        <img class="w-[70px]" src="images/arrow2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    
    <!-- <app-business *ngIf="sections.length > 5" [section]="sections[5]"></app-business> -->

    <!-- <section *ngIf="sections.length > 5" class="py-[50px]">
        <div class="section5 relative mx-auto max-w-[1360px] py-[40px] flex flex-col justify-center font_helvetica_nue">
            <div class="flex flex-col gap-[24px] max-w-[650px] mx-auto justify-between items-center">
                <div class="flex flex-col gap-[16px] items-center">
                    <h2 class="text-[#F4F9F9] text-[40px] font-medium">{{sections[5]?.title}}</h2>
                    <p class="text-[#DAEDEB] text-[16px] font-medium text-center">{{sections[5]?.description}}</p>
                </div>
                <a href="/services/nigeria-passport" class=" white_button">{{sections[5]?.buttonText}}</a>
            </div>
        </div>
    </section> -->

    <!-- <app-review></app-review> -->

    <!-- <section>
        <div class="mx-auto max-w-[1360px] h-[650px] pb-[100px] flex flex-col justify-center font_helvetica_nue">
            <swiper-container class="swiper-container3 pb-[40px]" init="false">
                <swiper-slide class="p-[20px] custom_swiper_slide bg-[#FFF]"
                    *ngFor="let review of reviews">
                    <div class="flex justify-between">
                        <div class="max-w-[780px] flex flex-col justify-center gap-[40px]">
                            <p class="text-[#3D3D3D] text-[32px] font-medium">{{review.description}}</p>
                            <div class="flex flex-col gap-[10px]">
                                <p class="text-[#1B1B1B] text-[16px] font-medium">{{review.by}}</p>
                                <p class="font-normal text-[#6D6D6D] text-[12px]">{{review.designation}}</p>
                            </div>
                        </div>
                        <div class="h-[550px] max-w-[500px]">
                            <img class="w-[100%] h-[100%] object-cover rounded-[8px]" [src]="review.image" alt="">
                        </div>
                    </div>
                </swiper-slide>
            </swiper-container>
            <div class="relative">
                <div class="custom-prev swiper-button-prev"></div>
                <div class="custom-next swiper-button-next"></div>
            </div>
        </div>
    </section> -->

<!-- </div> -->
